<h1><%= @song.name %></h1>

<p><a href="../artists/<%= @song_artist_slug %>"><%= @song.artist.name %></a></p>
<p><a href="../genres/<%= @song_genre_slug %>"><%= @song.genres[0].name %></a></p>
<a href="/songs/<%= @song.id %>/edit">Edit this Song</a>
